.places {
  margin: 0;
  padding: 0 148px;
  box-sizing: border-box;
  margin-top: 88px;
}

@media (max-width: 1279px) {
  .places {
    padding: 0 48px;
    margin-top: 92px;
  }
}

@media (max-width: 1023px) {
  .places {
    padding: 0 24px;
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .places {
    margin-top: 60px;
    padding: 0;
  }
}